

.homecomp {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

.home__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.search__bar {
    padding: 7px;
    width: 300px;
    font-weight: 400;
    font-size: 14px;
}

.search__select {
    width: 100px;
    padding: 7px;
    border: .7px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.home__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* height: 80vh; */
}

.home__results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 20px;
    margin-left: 20px;
    height: 100%;
}


.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px !important;
    position: relative;
    left: 50vw;
}


.error__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 30vw;
}

.error-img {
    width: 45vw;
    height: 45vh;
    object-fit: contain;
}

.error__div div {
    display: flex;
    flex-direction: row;
    width: 400px;
    padding: 3px;
}

.error__div div h2 {
    font-size: 3rem;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.error__div div p {
    font-size: 14px;
}


@media only screen and (max-width: 768px) {
    
}