

.homecomp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100%;
}

.no__results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.no__results img {
    width: 25vw;
    height: 150px;
}

.no__results h4 {
    font-size: 1.8rem;
    font-weight: 300;
}
.loading {
    margin: 15%;
}